.results {
   padding: 70px 33px 0 33px;
   width: 100%;
   height: auto;
}
.results__background {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 85px 0 100px 0;
}
.results__background h1 {
   max-width: 30%;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}
.results__background h1 > span {
   padding-left: 10px;
}
.results__background span {
   text-transform: capitalize;
   display: inline-block;
}
.results__background a {
   margin-top: 70px;
   width: 261px;
   height: 40px;
   background-color: #5843e4;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-decoration: none;
   font-size: 20px;
}
.results .results__detailled__container {
   margin-top: 70px;
   width: 800px;
}
.results .results__detailled__container .results__detailled {
   margin-top: 20px;
}
.results .results__detailled__container .results__detailled:first-child {
   margin-top: 0;
}
.results .results__detailled__container .results__detailled--title {
   text-transform: capitalize;
   font-size: 20px;
}
.results .results__detailled__container .results__detailled--text {
   font-size: 20px;
   margin-top: 5px;
}
.results__errors {
}
@media screen and (max-width: 480px) {
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
}
@media screen and (min-width: 2561px) {
}
